
.sphere:hover {
  // border:rgba(228, 220, 228, 0.411) 1px solid;
  box-shadow: 0 0 10px #ffffff;
}

.sphere {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 0, 0);
  // border:rgba(128, 0, 128, 0) 1px solid;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background: radial-gradient(circle at 100px 100px, #e0e0e0, #ffffff00);
  color: white;
  margin: 0 auto ;
  
  // box-shadow: 0 0 10px #ff0000;

  .sphere-genre{
    font-family: VaporWave;
    font-size: 6rem;
  }

  .sphere-ticker{
    font-family: VaporWave;
  }
  
}




.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  } 








  // .glowing::before{
  //   content: '';
  //   position: absolute;
  //   left: -2px;
  //   top: -2px;
  //   background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  //   background-size: 400%;
  //   width: calc(100% + 5px);
  //   height: calc(100% + 5px);
  //   z-index: -1;
  //   animation: glower 20s linear infinite;
  // }
  
  // @keyframes glower {
  //   0% {
  //     background-position: 0 0;
  //   }
    
  //   50% {
  //     background-position: 400% 0;
  //   }
    
  //   100% {
  //     background-position: 0 0;
  //   }
  // }

