.profile-page {
  background-color: black;
  color: white;

  .profile-top-section {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;


    .profile-details {

      background-color: rgb(202 160 0 / 28%);
      
      height: 240px;
      border: 1px solid rgb(255, 0, 242);
      h1{font-size: 30px;
        text-align: center;
      }
    }
  }
}
// * {border: 1px solid rgb(255, 0, 242);}