@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../assets/Disket-Mono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'VaporWave';
  src: local('VaporWave'), url(../assets/vaporwave.ttf) format('truetype');
}



$brand-color: #ff7f08;
$background-color: #252525;


body{
  font-family: MyFont;
  background-color: #000;
}
.Toastify__toast-body{font-family: MyFont;}

nav{
  // height: 10vh !important;
  z-index: 100000;
}
.component{
  min-height: 85vh !important;
  // overflow:auto;
}


.comment-feed{
  min-height: 100px;
}
.comment-form{
  width: 100%;
  input{
    margin: 0.5rem 0;
  }
  .btn-container{
    display: flex;
    justify-content:flex-start;
  }
}

.load-page {
  background-color:$background-color;
  height: 100vh;
}


.loop-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; //!
  padding: 5vmax;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgb(0, 0, 0);


.keys-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.key {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 75px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #ff7f08c7;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  border: none;
  font-family: MyFont;
  // color: #fff;
  //color: 
}

.key:hover {
  background-color: rgba(0, 0, 0, 0.534);
  color: #fff;
}

.box {
  width: 750px;
}

.sequence-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
} 

.note {
  // margin: 0 px;
  font-size: 32px;
}

.step-div-inactive {
  color: grey;
  transition: all 0.3s;
}

.step-div-active {
  color: green;
  transition: all 0.3s;
  transform: scale(1.5);
}

.step-div-active:nth-of-type(1) {
  color: #80ff00;
}

.step-div-active:nth-of-type(2) {
  color: #00ffff;
}


.step-div-active:nth-of-type(3) {
  color: #0080ff;
}


.step-div-active:nth-of-type(4) {
  color: #0000ff;
}


.step-div-active:nth-of-type(5) {
  color: #8000ff;
}


.step-div-active:nth-of-type(6) {
  color: #ff00ff;
}


.step-div-active:nth-of-type(7) {
  color: #ff0080;
}

.step-div-active:nth-of-type(8) {
  color: #ff8000;
}

.text-block {
  font-family: 'Changa One', Impact, sans-serif;
  font-size: 43px;
  font-weight: 700;
}

.synth-controls-wrapper {
  display: flex;
  margin: 0 0 20px 0;
}

.title-input {
  margin: 0 0 10px 0;
}

.synth-controls-col:first-of-type {
  margin: 12px 12px;
  display: flex;
  //flex-direction: column;
  // align-items: center;
}

.synth-controls-col {
  margin: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.react-select-container {
  width: 260px;
}

.input {
  font-family: MyFont !important;
}

.button {
  font-family: MyFont !important;
}

.basic-multi-select {
  font-family: VaporWave !important;
  color: black;
  font-size: 26px;
  width: 100%;
  margin: 0 0 10px 0;
}



.loop-playback-controlls {
  display: flex; 
  justify-content: space-between;
}

.genre-tag-text {
  font-family: VaporWave;
  font-size: 42px;
  color: #000;
  transition: all 0.3s;
  cursor: default;
}

.genre-tag-text:hover {
  color: $brand-color;
  transform: scale(1.3)
}

.genre-tag-wrapper {
  display: flex;
  justify-content: space-around;
}

.orange-text {
  color: $brand-color;
}

.loop-owner-text {
  font-size: 22px;
  color: grey;
}

// .basic-multi-select .genre {

// }


.particles-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 14;
}

.sequencer-controlls {
  z-index: 26 !important;
}


.box {
  z-index: 22;
}


.volume-label {
  white-space: nowrap;
}

}


.section-wrapper-about{
  display: flex;
  justify-content:space-evenly;
  border: 1px solid orange;
  border-radius: 25px;
  padding: 1rem;
  .name{
    font-size: 30px;
  }
a{
  width: 200px;
  margin: 2rem;
}
img{
  width:200px;
  // border-radius:25px;
}
.profile-pic{
  border-radius:150px;
  
}
}

.about-links{
  margin-top: 10px;

  .git-link{
    width: 100px;
    height: 100px;
    margin-bottom: -2px;
    // width: 100px;
  }
 img:hover{
  box-shadow: 0 0 10px #ff7f08;

 } 
}